USE [master]
GO
/****** Object:  Database [test1]    Script Date: 9/29/2024 1:14:01 PM ******/
CREATE DATABASE [test1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'test1', FILENAME = N'C:\Users\krystianwasil\test1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'test1_log', FILENAME = N'C:\Users\krystianwasil\test1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [test1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [test1]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 9/29/2024 1:14:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[login] [nvarchar](50) NOT NULL,
	[password_hash] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 9/29/2024 1:14:02 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[firstName] [nvarchar](50) NULL,
	[lastName] [nvarchar](50) NULL,
	[email] [nvarchar](100) NULL,
	[PESEL] [varchar](11) NULL,
	[number] [varchar](15) NULL,
	[adress] [nvarchar](255) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([ID], [login], [password_hash]) VALUES (1, N'JanKowalski', N'haslo123')
INSERT [dbo].[Employee] ([ID], [login], [password_hash]) VALUES (2, N'Antek', N'123')
INSERT [dbo].[Employee] ([ID], [login], [password_hash]) VALUES (3, N'Maja', N'Sraja')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
INSERT [dbo].[Users] ([firstName], [lastName], [email], [PESEL], [number], [adress]) VALUES (N'Wiktor', N'Wasilewski', N'vigvaz07.07@gmail.com', N'02280415554', N'792513333', N'Henryka Sienkiewicza 14')
INSERT [dbo].[Users] ([firstName], [lastName], [email], [PESEL], [number], [adress]) VALUES (N'Maja', N'Poniewozik', N'mponiewozik12@gmail.com', N'92013076567', N'606785453', N'Ludwika Zamenhofa 102')
INSERT [dbo].[Users] ([firstName], [lastName], [email], [PESEL], [number], [adress]) VALUES (N'Michal', N'Pietraszak', N'pietraszak6@gmail.com', N'63122072971', N'897787777', N'Eugeniusza Bodo 12')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_PESEL]    Script Date: 9/29/2024 1:14:02 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [UC_PESEL] UNIQUE NONCLUSTERED 
(
	[PESEL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_email]    Script Date: 9/29/2024 1:14:02 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [unique_email] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [unique_number]    Script Date: 9/29/2024 1:14:02 PM ******/
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [unique_number] UNIQUE NONCLUSTERED 
(
	[number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
USE [master]
GO
